<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.laurinfrank.MacFanControl.helper</string>

    <key>Program</key>
    <string>/Library/PrivilegedHelperTools/com.laurinfrank.MacFanControl.helper</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/com.laurinfrank.MacFanControl.helper</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>com.laurinfrank.MacFanControl.helper</key>
        <true/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>StandardErrorPath</key>
    <string>/var/log/com.laurinfrank.MacFanControl.helper.log</string>

    <key>StandardOutPath</key>
    <string>/var/log/com.laurinfrank.MacFanControl.helper.log</string>
</dict>
</plist>
